body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.noidung {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1200px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p, ul, li, img {
    margin-bottom: 15px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #f5f5f5;
    color: rgb(15, 14, 14);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s;
}
   background-color: white;

#backToTopBtn:hover {
    background-color: #0056b3;
}
.khoangcach{
    margin-top: 20px;
}
.tinh{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold; 
  font-size: 18px;  

}

